<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="87.1.13" targetFramework="net48" />
  <package id="cef.redist.x86" version="87.1.13" targetFramework="net48" />
  <package id="CefSharp.Common" version="87.1.131-pre" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="87.1.131-pre" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="2.11.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Geckofx60.64" version="60.0.52" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Memory" version="4.5.4" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net452" requireReinstallation="true" />
  <package id="ZXing.Net" version="0.16.5" targetFramework="net452" requireReinstallation="true" />
</packages>